body{

	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
}



.board{
	display: grid;
	grid-template-columns: repeat(8, 1fr);


	width:560px;
	height:560px;

	text-align: center;

	border: 2px solid black;
}

.square, .empty{
	height:70px;
	width:70px;

	display: flex;
}

.square .piece{
	cursor: grab;

}

.square .piece:active{
	cursor: grabbing;
}

.clone{
	height:70px;
	width:70px;
}
