body{
	font-family: sans-serif;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.history{
	position: absolute;
	left: 13%;	
}

.moveHistory{
	max-height: 350px;
	overflow: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}

.buttons{
	position: absolute;
	right: 9%;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1032px) {
	.history {
		display: none;
	}
	.buttons{
		display: none;
	}
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.board{
	display: grid;
	grid-template-columns: repeat(8, 1fr);


	width:560px;
	height:560px;

	text-align: center;

	border: 2px solid black;
}

.square, .empty{
	height:70px;
	width:70px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.empty{
	position: absolute;
}


.square .piece{
	height:70px;
	width:70px;
}

.hint{
	position: absolute;
	border-radius: 50%;

	height: 25px;
    width: 25px;

	z-index: 1;
}
